<p id="notice"><%= notice %></p>
<div class="container">
    <div class="mx-auto">

      <h1>Voyages</h1>

      <%= link_to 'New Voyage', new_voyage_path, class: 'btn btn-primary' %> | <%= link_to "Home", root_path, class: "btn btn-default" %> | <%= link_to "Reservation", reservations_path, class: "btn btn-dark" %>
    </div>




        <div class="row">
          <% @voyages.each do |voyage| %>
            <div class="col-md-4">
                <div class="card text-white bg-info mb-3" style="max-width: 50rem;">
                      <div class="card-header"></div>
                      <div class="card-body">
                        <h4 class="card-title">Voyage N° <%= voyage.id %></h4>
                        <p class="card-text">De :<%= voyage.depart %></p>
                        <p class="card-text">Vers :<%= voyage.destination %></p>
                        <p class="card-text">Date de départ :<%= voyage.date_depart %></p>
                        <p class="card-text">Place Disponible :<%= voyage.place %></p>
                        <p class="card-text"><%= link_to 'Show', voyage, class: 'btn btn-warning' %> | <%= link_to 'Edit', edit_voyage_path(voyage), class: 'btn btn-success' %> | <%= link_to 'Destroy', voyage, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> | <%= link_to "Reserver?", new_reservation_path, class: 'btn btn-light'%></p>
                      </div>
                </div>
            </div>
          <% end %>
        </div>

</div>
